{%extends 'layout.html'%}
{%block content%}
    <div class="container-fluid">
        <div class="row-fluid">
            <h1>
                Lista: {{lista}}
            </h1>
            <br>
            <h1>
                Mayor: {{mayor}}
            </h1>
            <br>
            <h1>
                Menor: {{menor}}
            </h1>
            <br>
            <h1>
                Promedio: {{promedio}}
            </h1>
            <h1>
                {{resultados}}
            </h1>
        </div>
    </div>
{%endblock%}